<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台打印日志的相关配置 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %green(%5p) %magenta(${PID:-}) [%15.15t] %cyan(%-40.40logger{39}) : %m%n</pattern>
        </encoder>
        <!-- 日志级别过滤器 -->
        <!--<filter class="ch.qos.logback.classic.filter.levelFilter">-->
        <!--<level>ERROR</level>-->
        <!--<onMatch>ACCEPT</onMatch>-->
        <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    </appender>

    <!-- 文件保存日志的相关配置 -->`
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/javaDev/idea_repository/ssm/logs/logback.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%-40.40logger{39}] : %m%n</pattern>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%-40.40logger{39}] %4line: %m%n</pattern>-->
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>logback_%d{yyyyMMdd}.log</fileNamePattern>
            <!-- 最大保存时间：10天-->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.afei.ssm" level="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <!-- 基于info处理日志：具体控制台或者文件对日志级别的处理还要看所在appender配置的filter，如果没有配置filter，则使用root配置 -->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</configuration>